*, *:before, *:after
    box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    text-size-adjust: none

footer, header, nav, section, main
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input
    -webkit-appearance: none
    border-radius: 0
    // Mano kodas

body
    background-color: rgb(88, 88, 88)
    width: 100vw
header
    width: 100%
    nav
        background-color: rgb(0, 0, 0)
        ul
            margin: 0 auto
            width: 50%
            li
                list-style-type: none
                display: inline-block
                border-right: solid white 1px
                line-height: 40px
                a
                    text-decoration: none
                    font-size: 15px
                    color: white
                    padding: 10px


main
    width: 50%
    text-align: center
    margin: 50px auto
    article
                background-color: white
                text-align: left
                margin: 10px
                h1
                    padding: 10px
                    font-weight: bold
                    
                span
                    display: inline-block
                    padding: 10px
div
    font-size: 0
    width: 100%
    section
        width: 50%
        display: inline-block
        font-size: 12px